@import "~@angular/material/theming";

.carousel {
  padding: 0 60px;
  position: relative;

  .thumbnail {
    cursor: pointer;
  }

  &-prev, &-next {
    position: absolute;
    top: 40%;
    height: 100%;

    .background {
      pointer-events: none;
      position: absolute;
      height: 100%;
      width: 100%;
      padding: 0 80%;
      z-index: 100;
      top: -42%;
    }
    mat-icon {
      cursor: pointer;
      color: #6a6a6a;
      margin: 0 10px;
      position: relative;
      z-index: 201;
      height: auto;
      width: auto;
      font-size: 70px;
    }
  }

  &-prev {
    .background {
      background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0.75) 42%, rgba(255,255,255,0) 100%);
      background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0.75) 42%,rgba(255,255,255,0) 100%);
      background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0.75) 42%,rgba(255,255,255,0) 100%);
      left: 0;
    }
    left: 0;
  }

  &-next {
    .background {
      background: -moz-linear-gradient(right, rgba(255,255,255,1) 0%, rgba(255,255,255,0.75) 42%, rgba(255,255,255,0) 100%);
      background: -webkit-linear-gradient(right, rgba(255,255,255,1) 0%,rgba(255,255,255,0.75) 42%,rgba(255,255,255,0) 100%);
      background: linear-gradient(to left, rgba(255,255,255,1) 0%,rgba(255,255,255,0.75) 42%,rgba(255,255,255,0) 100%);
      right: 0;
    }
    right: 0;
  }
}
