<div class="carousel noselect">
  <div class="carousel-prev">
    <mat-icon (click)="prevBook()">keyboard_arrow_left</mat-icon>
    <div class="background"></div>
  </div>
  <div #host>
  </div>
  <div class="carousel-next">
    <mat-icon (click)="nextBook()">keyboard_arrow_right</mat-icon>
    <div class="background"></div>
  </div>
</div>

<ng-template #listTemplate let-carouselOptions="carouselOptions" let-books="books"
             let-openDetails="openDetails">
  <ngx-siema *ngIf="enableRender | async" [options]="carouselOptions">
    <ngx-siema-slide *ngFor="let book of books">
      <app-thumbnail class="thumbnail" [url]="book?.book_image" [alt]="book.title"
                     (click)="openDetails(book)"></app-thumbnail>
    </ngx-siema-slide>
  </ngx-siema>


</ng-template>
