@import '~@angular/material/theming';


.mat-card {
  cursor: inherit;
  @include mat-overridable-elevation(6);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0 30px;
  padding: 0;
  img {
    cursor: pointer;
    margin: 0;
    width: 100%;
    max-height: 380px;
  }

  .mat-icon {
    font-size: 40px;
    text-align: center;
    width: 150px;
    height: 200px;
    line-height: 200px;
  }
}
