@import '../styles';

header {
  margin: 0 0 60px;
  color: #fff;
  background: mat-color(mat-palette($mat-indigo), 700);
  text-align: center;
  .title {
    padding: 50px 0;
    .mat-display-1 {
      margin: 0 0 30px;
    }
    .mat-h2 {
      margin: 0;
    }
  }
}


